<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.mapper.OrderdetailMapper">
	
	<select id="select" parameterType="Integer" resultType="orderdetailDTO">
		SELECT * FROM orderdetail WHERE id=#{id}
	</select>
	<select id="selectall" resultType="orderdetailDTO">
		SELECT * FROM orderdetail
	</select>
	<insert id="insert" parameterType="orderdetailDTO">
		INSERT INTO orderdetail VALUES (NULL,#{orderno},#{productno},#{ordersize},#{orderitem},#{price},#{productamount})
	</insert>
	<update id="update" parameterType="orderdetailDTO">
		UPDATE orderdetail SET ordersize=#{ordersize},orderitem=#{orderitem},price=#{price}, productamount=#{productamount} WHERE id=#{id}
	</update>
	<delete id="delete" parameterType="Integer">
		DELETE FROM orderdetail WHERE id=#{id}
	</delete>
	
</mapper>